In [58]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import accuracy_score
## for data
import pandas as pd

import re
import nltk## for language detection

In [59]:
df_train = pd.read_csv('open/train.csv', delimiter=',', encoding = "utf8")
print(len(df_train))

# NaN값 삭제
df_train.dropna(inplace=True)
print(len(df_train))

print(df_train['facts'][0])
df_train.head()

2478
2478
On June 27, 1962, Phil St. Amant, a candidate for public office, made a television speech in Baton Rouge, Louisiana.  During this speech, St. Amant accused his political opponent of being a Communist and of being involved in criminal activities with the head of the local Teamsters Union.  Finally, St. Amant implicated Herman Thompson, an East Baton Rouge deputy sheriff, in a scheme to move money between the Teamsters Union and St. Amant’s political opponent.
Thompson successfully sued St. Amant for defamation.  Louisiana’s First Circuit Court of Appeals reversed, holding that Thompson did not show St. Amant acted with “malice.”  Thompson then appealed to the Supreme Court of Louisiana.  That court held that, although public figures forfeit some of their First Amendment protection from defamation, St. Amant accused Thompson of a crime with utter disregard of whether the remarks were true.  Finally, that court held that the First Amendment protects uninhibited, robust debate, rather than an open season to shoot down the good name of anyone who happens to be a public servant.

,ID,first_party,second_party,facts,first_party_winner
0,TRAIN_0000,Phil A. St. Amant,Herman A. Thompson,"On June 27, 1962, Phil St. Amant, a candidate ...",1
1,TRAIN_0001,Stephen Duncan,Lawrence Owens,Ramon Nelson was riding his bike when he suffe...,0
2,TRAIN_0002,Billy Joe Magwood,"Tony Patterson, Warden, et al.",An Alabama state court convicted Billy Joe Mag...,1
3,TRAIN_0003,Linkletter,Walker,Victor Linkletter was convicted in state court...,0
4,TRAIN_0004,William Earl Fikes,Alabama,"On April 24, 1953 in Selma, Alabama, an intrud...",1

In [60]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer

In [61]:
df_train

,ID,first_party,second_party,facts,first_party_winner
0,TRAIN_0000,Phil A. St. Amant,Herman A. Thompson,"On June 27, 1962, Phil St. Amant, a candidate ...",1
1,TRAIN_0001,Stephen Duncan,Lawrence Owens,Ramon Nelson was riding his bike when he suffe...,0
2,TRAIN_0002,Billy Joe Magwood,"Tony Patterson, Warden, et al.",An Alabama state court convicted Billy Joe Mag...,1
3,TRAIN_0003,Linkletter,Walker,Victor Linkletter was convicted in state court...,0
4,TRAIN_0004,William Earl Fikes,Alabama,"On April 24, 1953 in Selma, Alabama, an intrud...",1
...,...,...,...,...,...
2473,TRAIN_2473,"HollyFrontier Cheyenne Refining, LLC, et al.","Renewable Fuels Association, et al.",Congress amended the Clean Air Act through the...,1
2474,TRAIN_2474,"Grupo Mexicano de Desarrollo, S. A.","Alliance Bond Fund, Inc.","Alliance Bond Fund, Inc., an investment fund, ...",1
2475,TRAIN_2475,Peguero,United States,"In 1992, the District Court sentenced Manuel D...",0
2476,TRAIN_2476,Immigration and Naturalization Service,St. Cyr,"On March 8, 1996, Enrico St. Cyr, a lawful per...",0
2477,TRAIN_2477,Markman,"Westview Instruments, Inc.",Herbert Markman owns the patent to a system th...,0

In [62]:
df_train['facts']

0       On June 27, 1962, Phil St. Amant, a candidate ...
1       Ramon Nelson was riding his bike when he suffe...
2       An Alabama state court convicted Billy Joe Mag...
3       Victor Linkletter was convicted in state court...
4       On April 24, 1953 in Selma, Alabama, an intrud...
                              ...
2473    Congress amended the Clean Air Act through the...
2474    Alliance Bond Fund, Inc., an investment fund, ...
2475    In 1992, the District Court sentenced Manuel D...
2476    On March 8, 1996, Enrico St. Cyr, a lawful per...
2477    Herbert Markman owns the patent to a system th...
Name: facts, Length: 2478, dtype: object

In [63]:
df_train['first_party_winner']

0       1
1       0
2       1
3       0
4       1
       ..
2473    1
2474    1
2475    0
2476    0
2477    0
Name: first_party_winner, Length: 2478, dtype: int64

In [64]:
vectorizer = CountVectorizer()

xfeatures = df_train['facts']
ylabel = df_train['first_party_winner']

In [65]:
# X_train, X_test, y_train, y_test = train_test_split(xfeatures,ylabel, test_size=0.25)

X_train = xfeatures
y_train = ylabel

In [66]:
pipe = Pipeline(steps=[('cv',CountVectorizer()),('lr',LogisticRegression(solver='liblinear'))])

In [69]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('cv', CountVectorizer()),
                ('lr', LogisticRegression(solver='liblinear'))])

In [41]:
pipe.score(X_test,y_test)

0.5935483870967742

In [42]:
y_pred = pipe.predict(X_test)
print(y_pred)

[1 1 0 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 0 0 0 1 1 1
 1 1 0 0 0 1 1 1 0 0 1 0 0 0 1 1 1 1 1 1 0 1 0 1 1 1 0 0 1 1 1 1 1 0 1 1 1
 1 0 0 0 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 0 0 1 1 1 1 1 1 1 1 1 1 1 0 1
 0 1 1 1 1 1 0 1 1 0 1 1 1 1 1 0 1 1 1 1 0 0 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1
 1 0 0 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 0 0
 1 1 0 1 0 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 0
 1 1 1 1 1 1 1 1 0 1 1 1 0 1 0 1 1 0 1 0 1 1 0 0 1 1 1 1 1 1 1 0 1 0 1 1 0
 1 1 1 1 1 0 1 1 0 1 0 0 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 0 1 1 1 0 1 1 0 1 0
 0 0 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 0 1 0 1
 1 1 1 0 1 0 1 1 1 1 1 0 1 1 0 1 1 0 1 1 1 1 0 0 1 0 1 1 1 1 0 1 1 1 1 1 0
 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 0 0 1 0 0 0 1
 1 1 1 1 1 1 0 0 1 0 1 1 1 1 1 1 0 1 0 0 1 0 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1
 1 0 1 1 0 0 1 1 1 1 1 1 0 1 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1
 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 0 1
 0 0 1 0 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 0 1 0 1 1 0
 1 0 1 1 1 1 1 0 1 1 1 0 0 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 1
 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1]

In [70]:
"""
Test data
"""


df_test = pd.read_csv('open/test.csv', delimiter=',', encoding = "utf8")
print(len(df_test))

# NaN값 삭제
df_test.dropna(inplace=True)
print(len(df_test))

print(df_test['facts'][0])
df_test.head()

1240
1240
The 1984 Bail Reform Act allowed the federal courts to detain an arrestee prior to trial if the government could prove that the individual was potentially dangerous to other people in the community. Prosecutors alleged that Salerno and another person in this case were prominent figures in the La Cosa Nostra crime family.

,ID,first_party,second_party,facts
0,TEST_0000,Salerno,United States,The 1984 Bail Reform Act allowed the federal c...
1,TEST_0001,Milberg Weiss Bershad Hynes and Lerach,"Lexecon, Inc.",Lexecon Inc. was a defendant in a class action...
2,TEST_0002,No. 07-582\t Title: \t Federal Communications ...,"Fox Television Stations, Inc., et al.","In 2002 and 2003, Fox Television Stations broa..."
3,TEST_0003,Harold Kaufman,United States,During his trial for armed robbery of a federa...
4,TEST_0004,Berger,Hanlon,"In 1993, a magistrate judge issued a warrant a..."

In [71]:
X_test = df_train['facts']

y_pred = pipe.predict(X_test)
print(len(y_pred))
print(y_pred)

2478
[1 0 1 ... 0 0 0]

In [72]:
y_pred = pd.DataFrame(y_pred, columns=['first_party_winner'])
y_pred

      first_party_winner
0                      1
1                      0
2                      1
3                      0
4                      1
...                  ...
2473                   1
2474                   1
2475                   0
2476                   0
2477                   0

[2478 rows x 1 columns]

In [73]:
prediction = pd.concat([df_test['ID'],y_pred],axis=1,join='inner')
prediction

             ID  first_party_winner
0     TEST_0000                   1
1     TEST_0001                   0
2     TEST_0002                   1
3     TEST_0003                   0
4     TEST_0004                   1
...         ...                 ...
1235  TEST_1235                   1
1236  TEST_1236                   0
1237  TEST_1237                   1
1238  TEST_1238                   1
1239  TEST_1239                   1

[1240 rows x 2 columns]

In [74]:
prediction.to_csv('./baseline_submit.csv', index=False)
print('Done')

Done

In [48]:
submit = pd.read_csv('open/sample_submission.csv')
print(submit[:5])

          ID  first_party_winner
0  TEST_0000                   0
1  TEST_0001                   0
2  TEST_0002                   0
3  TEST_0003                   0
4  TEST_0004                   0

In [17]:
train = pd.read_csv('open/train.csv')
test = pd.read_csv('open/test.csv')

In [18]:
print(train[:5])
print('=============================')
print(test[:5])

           ID         first_party                    second_party  \
0  TRAIN_0000   Phil A. St. Amant              Herman A. Thompson
1  TRAIN_0001      Stephen Duncan                  Lawrence Owens
2  TRAIN_0002   Billy Joe Magwood  Tony Patterson, Warden, et al.
3  TRAIN_0003          Linkletter                          Walker
4  TRAIN_0004  William Earl Fikes                         Alabama

                                               facts  first_party_winner
0  On June 27, 1962, Phil St. Amant, a candidate ...                   1
1  Ramon Nelson was riding his bike when he suffe...                   0
2  An Alabama state court convicted Billy Joe Mag...                   1
3  Victor Linkletter was convicted in state court...                   0
4  On April 24, 1953 in Selma, Alabama, an intrud...                   1
=============================
          ID                                        first_party  \
0  TEST_0000                                            Salerno
1  TEST_0001             Milberg Weiss Bershad Hynes and Lerach
2  TEST_0002  No. 07-582\t Title: \t Federal Communications ...
3  TEST_0003                                    Harold Kaufman
4  TEST_0004                                             Berger

                            second_party  \
0                          United States
1                          Lexecon, Inc.
2  Fox Television Stations, Inc., et al.
3                          United States
4                                 Hanlon

                                               facts
0  The 1984 Bail Reform Act allowed the federal c...
1  Lexecon Inc. was a defendant in a class action...
2  In 2002 and 2003, Fox Television Stations broa...
3  During his trial for armed robbery of a federa...
4  In 1993, a magistrate judge issued a warrant a...

In [23]:
print(train[:3])

           ID        first_party                    second_party  \
0  TRAIN_0000  Phil A. St. Amant              Herman A. Thompson
1  TRAIN_0001     Stephen Duncan                  Lawrence Owens
2  TRAIN_0002  Billy Joe Magwood  Tony Patterson, Warden, et al.

                                               facts  first_party_winner
0  On June 27, 1962, Phil St. Amant, a candidate ...                   1
1  Ramon Nelson was riding his bike when he suffe...                   0
2  An Alabama state court convicted Billy Joe Mag...                   1

In [10]:
vectorizer = TfidfVectorizer()

def get_vector(vectorizer, df, train_mode):
    if train_mode:
        X_facts = vectorizer.fit_transform(df['facts'])
    else:
        X_facts = vectorizer.transform(df['facts'])
    X_party1 = vectorizer.transform(df['first_party'])
    X_party2 = vectorizer.transform(df['second_party'])
    
    X = np.concatenate([X_party1.todense(), X_party2.todense(), X_facts.todense()], axis=1)
    return X

In [11]:
print(train['facts'][:5])

0    On June 27, 1962, Phil St. Amant, a candidate ...
1    Ramon Nelson was riding his bike when he suffe...
2    An Alabama state court convicted Billy Joe Mag...
3    Victor Linkletter was convicted in state court...
4    On April 24, 1953 in Selma, Alabama, an intrud...
Name: facts, dtype: object

In [13]:
X_train = get_vector(vectorizer, train, True)
print(X_train[:5].shape)
Y_train = train["first_party_winner"]
X_test = get_vector(vectorizer, test, False)

(5, 52377)

In [6]:
model = LogisticRegression()
model.fit(X_train, Y_train)

/home/moonstar/anaconda3/envs/pytorch/lib/python3.7/site-packages/sklearn/utils/validation.py:598: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  FutureWarning,

LogisticRegression()

In [14]:
submit = pd.read_csv('open/sample_submission.csv')
print(submit[:5])

          ID  first_party_winner
0  TEST_0000                   0
1  TEST_0001                   0
2  TEST_0002                   0
3  TEST_0003                   0
4  TEST_0004                   0

In [8]:
pred = model.predict(X_test)

/home/moonstar/anaconda3/envs/pytorch/lib/python3.7/site-packages/sklearn/utils/validation.py:598: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  FutureWarning,

In [9]:
submit['first_party_winner'] = pred
submit.to_csv('./baseline_submit.csv', index=False)
print('Done')

Done